SPOTIFY_CLIENT_ID=your_client_id
SPOTIFY_CLIENT_SECRET=your_client_secret
SPOTIFY_REDIRECT_URI=http://localhost:5173/auth/callback

MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_USER=orpheus
MYSQL_PASSWORD=orpheus_password
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=orpheus

SECRET_KEY=your_secret_key_here
JWT_EXPIRE_HOURS=12

